{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <object type="image/svg+xml" id="not-found" data="{% static "images/404_fox.svg" %}">
        <img src="{% static "images/404_fox.png" %}" alt="" id="not-found-png">
    </object>
    <script>
        function resize() {
            let width = $(window).width() - 20;
            let height = $(window).height() - 300;

            let notFound = $('#not-found');
            notFound.attr('height', height < 150 ? 150 : height);
            notFound.attr('width', width < 50 ? 50 : width);
            let notFoundPng = $('#not-found-png');
            notFoundPng.attr('height', height < 150 ? 150 : height);
            notFoundPng.attr('width', width < 50 ? 50 : width);
        }

        $(window).resize(resize);
        $(document).ready(resize);
    </script>
{% endblock content %}
{% block footer %}
{% endblock footer %}
