{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Red Fox Project</title>
    {% include 'includes/css.html' %}
    {% include 'includes/js.html' %}
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
</head>
<body>
<div class="content">
    {% block content %}{% endblock content %}
</div>
{% block footer %}
    <footer class="navbar navbar-default navbar-fixed-bottom justify-content-between">
        <div class="container">
            <a href="https://github.com/cr0manty" target="_blank">GitHub</a>
            {% if request.user.is_staff %}
                <a href="{% url 'admin:index' %}" id="admin-link">Admin</a>
            {% endif %}
            <a href="mailto:denys.dudka.mail@gmail.com">© {% now 'Y' %} Red Fox Project</a>
        </div>
    </footer>
{% endblock footer %}
</body>
</html>